[Unit]
Description=Run EnigmaNebula Nightly Build every day at 3 AM
Requires=nightly-build.service

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true

[Install]
WantedBy=timers.target